<style type="text/css">
	th,td
	{
		text-align: left;
		border-bottom: 1px solid black;
		color:#000080;
	}
</style>
<body bgcolor="white">
{% if machine %}
<center>
 <table  style="background-color: white; border:1px solid white; width:800px ;height: 500px;margin-top:100px; border-collapse: collapse;color:blue; ">
    <tr>
      <th>EmployeeID</th>
      <th>Machine Name</th>
      <th>Model</th>
      <th>Department</th>
      <th>Status</th>
      <th>Specification</th>
     </tr>
   {% for viewmachines in machine %}
   <tr>
   <td> {{ viewmachines.EmployeeId }}</td>
   <td> {{ viewmachines.MachineName}}</td>
   <td> {{ viewmachines.Model}}</td>
   <td>{{ viewmachines.Department}}</td>
   <td>{{ viewmachines.Status}}</td>
   <td>{{ viewmachines.Specification}}</td>
   </tr>

   {% endfor %}

   </table>
 </center>
 {% else %}
     <h3>no user</h3>
{% endif %}	 
</body>